div :hover{
    border: 3px solid rgb(161, 160, 160);
}

#cor-primaria{
    color: blue;
}
#cor-secundaria{
    color: aqua;
}

#cor-escura{
    color:rgb(34, 33, 33);
}

#cor-clara{
    color: rgb(105, 105, 104);
}

.h3{
    font-size: 30px;
    color: red;
}
div:nth-child( odd ) {
font-style: italic;

}