div :hover{
    border: 1px solid rgb(161, 160, 160);
}

#cor-primaria{
    color: blue;
}
#cor-secundaria{
    color: aqua;
}

#cor-complemantar{
    color: red;
}
#cor-escura{
    color:rgb(34, 33, 33);
}

.cor-clara{
    color: rgb(105, 105, 104);
}

.h3{
    font-size: 30px;
}